
.group {
    align-items: flex-start;
    display: flex;
    min-width: 1544px;
    background-color: #ae9eee;
    height: 100vh;
  }
  .host-a-meeting {
    background-color: rgb(88, 49, 110) ;
    border-radius: 13px;
    color: black;
    font-family: Source Code pro;
    border: none;
    font-weight: 400;
    font-size: 22px;
    left: 970px;
    letter-spacing: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 493px;
    width: 309.19px;
    height: 59.11;
  }
  .host-a-meeting:hover{
    background-color: #ae9eee;
  }
  .join-a-meeting {
    background-color: rgb(88, 49, 110) ;
    color: black;
    border: none;
    border-radius: 13px;
    font-family: Source Code pro;
    font-weight: 400;
    font-size: 22px;
    left: 970px;
    letter-spacing: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 407px;
    width: 309.19px;
    height: 59.11;
  }
  .join-a-meeting:hover{
    background-color: #ae9eee ;
  }
  .overlap-group {
    height: 800px;
    position: relative;
    width: 1530px;
  }
 
  .rectangle-4 {
    background-color: 
    #746eaf;
    border-radius: 11px;
    height: 432px;
    left: 168px;
    mix-blend-mode: normal;
    position: absolute;
    top: 203px;
    width: 548px;
  }
  .left1{
    margin-top: 130px;
    margin-left:50px ;
    background-color: #ae9eee;
  }
  .rectangle-6 {
    background-color: 
  #c9bcfb;
    border-radius: 13px;
    height: 38px;
    left: 978px;
    mix-blend-mode: normal;
    position: absolute;
    top: 400px;
    width: 309px;
  }
  .rectangle-7 {
    background-color: 
  #67b6ff;
    border-radius: 13px;
    height: 39px;
    left: 978px;
    mix-blend-mode: normal;
    position: absolute;
    top: 487px;
    width: 309px;
  }
 
  
  @import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500|Roboto+Mono:500|Roboto:700");