.join_room_page_container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: 
    #00b0fc;
  }
  
  .join_room_page_panel {
    color: white;
    font-family: Source Code Pro,Roboto Mono,Roboto;
    font-size: 35px;
    font-weight: 300;
    width: 400px;
    height: 400px;
    background-color: 
    #263747;
    border: 3px solid rgb(20, 17, 17);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .join_room_title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 35px;
    margin-top: 80px;
  }
  
  .join_room_inputs_container {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }
  
  .room_not_found_container {
    display: flex;
    height: 50px;
    margin-left: 35px;
  }
  
  .room_not_found_paragraph {
    color: rgb(228, 112, 112);
    font-family: Roboto Mono,Roboto,Source Code Pro;
    font-size: 16px;
    font-weight: 200;
  }
  
  .loading_overlay_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 82, 201, 0.7);
  }
  
  .loading_overlay_loader {
    border: 10px solid #f3f3f3; 
    border-top: 10px solid black; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  
  .checkbox_container {
    display: flex;
    margin-left: 35px;
    margin-top: 5px;
    align-items: center;
  }
  
  .checkbox_connection {
    width: 25px;
    height: 25px;
    background: #2d8cff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(80px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkbox_container_paragraph {
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
  }
  
  .checkbox_image {
    max-width: 100%;
    max-height: 100%;
  }
  
  .join_room_buttons_container {
    display: flex;
    width: 100%;
    padding-left: 35px;
    padding-bottom: 10px;
  }
  
  .join_room_cancel_button {
    color: white;
    width: 80px;
    margin-right: 35px;
    height: 30px;
    background-color: rgb(238, 52, 52);
    border: 1px solid gray;
    border-radius: 8px;
    transition: 0.3s;
  }
  
  .join_room_cancel_button:hover {
    background-color: rgb(199, 52, 52);
  }
  
  .join_room_success_button {
    width: 80px;
    margin-right: 15px;
    height: 30px;
    background-color: #2d8cff;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    color: white;
    transition: 0.3s;
  }
  
  .join_room_success_button:hover {
    background-color: #0d5ab8;
  }
  
  .join_room_inputs_container {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }
  
  .join_room_input {
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    width: 300px;
    height: 40px;
    padding: 0px 15px;
  }
  
  .join_room_input:focus {
    border: 1px solid blue;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500|Roboto+Mono:500|Roboto:700");
